<p>
    <mat-toolbar color="primary">
        <mat-icon>home</mat-icon>
        <span class="header-font">Occasions</span>
        <span class="header-font">Digital Choclates</span>
        <span class="header-font">Crafted Choclates</span>
        <span class="header-font">Personalised Choclates</span>
        <span class="example-spacer"></span>
        <mat-icon>search</mat-icon>
        <mat-icon>person_outline</mat-icon>
        <mat-icon>shopping_cart</mat-icon>
    </mat-toolbar>

  </p>
<p>app-header works!</p>
